@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body{
  background-color: rgb(220, 220, 220);
}
a{
  text-decoration: none;
  color: black;
}
main{
  text-align: center;
  font-family: 'Montserrat';
  width: 80vw;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-radius: 10px;
  background-color: #fdfdfd;
  transition: 400ms;
  padding: 2em;
}
main:hover{
  box-shadow: 0px 0px 15px black;
}
.buttonBox{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
